src/conf/xml-resources/web-service-references/ServidorWS/wsdl/localhost_8080/0107940033EvaluacionCliente1/ServidorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SW/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SW/" name="ServidorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://SW/" schemaLocation="http://localhost:8080/0107940033EvaluacionCliente1/ServidorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="Mostrarsucurs">
<part name="parameters" element="tns:Mostrarsucurs"/>
</message>
<message name="MostrarsucursResponse">
<part name="parameters" element="tns:MostrarsucursResponse"/>
</message>
<message name="Mostratipos">
<part name="parameters" element="tns:Mostratipos"/>
</message>
<message name="MostratiposResponse">
<part name="parameters" element="tns:MostratiposResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="EliminarMedicamento">
<part name="parameters" element="tns:EliminarMedicamento"/>
</message>
<message name="EliminarMedicamentoResponse">
<part name="parameters" element="tns:EliminarMedicamentoResponse"/>
</message>
<message name="Mostrarfarma">
<part name="parameters" element="tns:Mostrarfarma"/>
</message>
<message name="MostrarfarmaResponse">
<part name="parameters" element="tns:MostrarfarmaResponse"/>
</message>
<message name="Mostramedica">
<part name="parameters" element="tns:Mostramedica"/>
</message>
<message name="MostramedicaResponse">
<part name="parameters" element="tns:MostramedicaResponse"/>
</message>
<portType name="ServidorWS">
<operation name="Mostrarsucurs">
<input wsam:Action="http://SW/ServidorWS/MostrarsucursRequest" message="tns:Mostrarsucurs"/>
<output wsam:Action="http://SW/ServidorWS/MostrarsucursResponse" message="tns:MostrarsucursResponse"/>
</operation>
<operation name="Mostratipos">
<input wsam:Action="http://SW/ServidorWS/MostratiposRequest" message="tns:Mostratipos"/>
<output wsam:Action="http://SW/ServidorWS/MostratiposResponse" message="tns:MostratiposResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://SW/ServidorWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://SW/ServidorWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="EliminarMedicamento">
<input wsam:Action="http://SW/ServidorWS/EliminarMedicamentoRequest" message="tns:EliminarMedicamento"/>
<output wsam:Action="http://SW/ServidorWS/EliminarMedicamentoResponse" message="tns:EliminarMedicamentoResponse"/>
</operation>
<operation name="Mostrarfarma">
<input wsam:Action="http://SW/ServidorWS/MostrarfarmaRequest" message="tns:Mostrarfarma"/>
<output wsam:Action="http://SW/ServidorWS/MostrarfarmaResponse" message="tns:MostrarfarmaResponse"/>
</operation>
<operation name="Mostramedica">
<input wsam:Action="http://SW/ServidorWS/MostramedicaRequest" message="tns:Mostramedica"/>
<output wsam:Action="http://SW/ServidorWS/MostramedicaResponse" message="tns:MostramedicaResponse"/>
</operation>
</portType>
<binding name="ServidorWSPortBinding" type="tns:ServidorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Mostrarsucurs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Mostratipos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarMedicamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Mostrarfarma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Mostramedica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServidorWS">
<port name="ServidorWSPort" binding="tns:ServidorWSPortBinding">
<soap:address location="http://localhost:8080/0107940033EvaluacionCliente1/ServidorWS"/>
</port>
</service>
</definitions>